<footer>
    &copy; 2021 Robert Keyser 
    <a class="github-button" href="https://github.com/templatize-app/templatize/issues" data-icon="octicon-issue-opened" aria-label="Issue templatize-app/templatize on GitHub">Issue</a>
</footer>
<script async defer src="https://buttons.github.io/buttons.js"></script>