<div class="app-pane">
    <label for="template-name">Template Name</label>
    <Input
        @id="template-name"
        @type="text"
        @value=""
    />

    {{pell-editor value=value pellOptions=pellOptions}}

    <button id="button-create" class="tmpltz-action" type="button">create</button>
</div>
