mat-form-field.mat-form-field {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.ql-container {
  font-family: Oxygen, Helvetica, Arial, sans-serif;
}

.ql-toolbar.ql-snow {
  font-family: Oxygen, Helvetica, Arial, sans-serif;
}

.ql-editor .ql-bg-black {
    background-color: $ql-black;
  }
  .ql-editor .ql-bg-red {
    background-color: $ql-red;
  }
  .ql-editor .ql-bg-orange {
    background-color: $ql-orange;
  }
  .ql-editor .ql-bg-yellow {
    background-color: $ql-yellow;
  }
  .ql-editor .ql-bg-green {
    background-color: $ql-green;
  }
  .ql-editor .ql-bg-blue {
    background-color: $ql-green;
  }
  .ql-editor .ql-bg-purple {
    background-color: $ql-purple;
  }
  .ql-editor .ql-color-white {
    color: #fff;
  }
  .ql-editor .ql-color-red {
    color: $ql-red;
  }
  .ql-editor .ql-color-orange {
    color: $ql-orange;
  }
  .ql-editor .ql-color-yellow {
    color: $ql-yellow;
  }
  .ql-editor .ql-color-green {
    color: $ql-green;
  }
  .ql-editor .ql-color-blue {
    color: $ql-blue;
  }
  .ql-editor .ql-color-purple {
    color: $ql-purple;
  }
  .ql-editor .ql-font-serif {
    font-family: 'Source Serif Pro', Georgia, Times New Roman, serif;
  }
  .ql-editor .ql-font-monospace {
    font-family: 'Nanum Gothic Coding', Monaco, Courier New, monospace;
  }