$branding-light: #8ce0c1;
$branding-dark: #66daaf;
$branding-main: #223666;
$branding-accent: #F0436B;
$light-back:  #ebecec;

$ql-black: #0e1414;
$ql-red: #d14040;
$ql-orange: #ddad46;
$ql-yellow:#e0d149;
$ql-green: #9de76f;
$ql-blue: #4259CA;
$ql-purple: #8142C9;